!!!
%html
  %head
    %title #{@title}
  %body
    #header
      %h1 #{@title}
    #content
      %ul
        - @entries.each do |entry|
          %li
            %a{ :href => add_schema(entry.url) } #{shorten(entry.url)}
            #{hatebu(add_schema(entry.url))}
            #{twitter(add_schema(entry.url))}

      %p
        added #{@url}
        %form{ :action => "/add", :method => "post" }
          %input{ :type => "texfield", :name => "url" }
          %input{ :type => "submit", :value => "send" }

    #script
      %script{ :type => "text/javascript", :src => "http://b.st-hatena.com/js/bookmark_button.js", :charset => "utf-8", :async => "async" }

